.title-background {
    background-color: #97A87A;
}
.presentation-background{
    background-color: #A8BBA3;
}
.container {
  width: 100vw;
  height: 100vh;
}

.profil-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}